
  <div class="filter-bar line-bar">
    <div class="bar-section">
    <span><%= image_tag "Filter-icon.svg", class:"filter-icon" %></span>
    <p>Category</p>
    <div class="filter-group">
    <%= form_tag articles_path, method: :get do  %>
        <%= check_box_tag :filter_option, params[:filter_option] %>
        <%= submit_tag "Search", style: "display:none" %>
    <% end %>
    <span><%= image_tag "JS-icon.svg", class:"filter-icon" %></span>
    <span><%= image_tag "Ruby-icon.svg", class:"filter-icon" %></span>
    <span><%= image_tag "Rails-icon.svg", class:"filter-icon" %></span>
    </div>
    </div>
    <div class="bar-section">
      <span><%= image_tag "Sort-up-icon.svg", class:"filter-icon" %></span>
    </div>
  </div>
<div class="page-section">


  <h2>Most recent</h1>
  <div class="longer-line"></div>

  <div class="cards-holder">

    <% @articles.each do |article| %>

      <div class="card-container">
            <%= link_to article_path(article) do %>
        <div class="img-holder">
          <%= image_tag "Sample.jpg", class: "card-image" %>
          <div class="img-overlay"></div>
        </div>
        <div class="card-content">

          <div class="info-line-small">
            <p><%= article.user.username %></p>
            <p><%= article.created_at.strftime("%d-%m-%Y") %></p>
            <span><%= image_tag "Comment-icon.svg", class: "icon-small" %></span>
            <p>5</p>
          </div>

          <div class="card-content-main">
              <h3><%= article.title %></h3>
          </div>
          <div class="bottom-right">
            <div class="short-line">
            </div>
              <p><%= article.category %></p>
          </div>
        </div>
            <% end %>
      </div>
    <% end %>
  </div>
</div>
  <% if current_user %>
  <%=  link_to "Add", articles_new_path %>
  <% end %>
