<h1>Articles#new</h1>
<p>Find me in app/views/articles/new.html.erb</p>
<%= simple_form_for @article do |f|%>
<%= f.input :title %>
<%= f.input :content %>
<%= f.input :category %>
<%= f.submit "submit" %>
<% end %>
