<h1><%= @article.title %></h1>
<div class="article-content">
<p><%= @article.content %>
</p>
</div>
<%= @article.category %>
<%= link_to "Back", articles_path %>
<%= link_to "Edit", edit_article_path(@article) %>
