<div class="article-show">
    <div class="article-head-text">
      <div class="info-line-small">
                <p><%= @article.user.username %></p>
                <p><%= @article.created_at.strftime("%d-%m-%Y") %></p>
                <span><%= image_tag "Comment-icon.svg", class: "icon-small" %></span>
                <p>5</p>
      </div>
      <p><%= @article.category %></p>
      <h1><%= @article.title %></h1>
    </div>

    <div class="article-head-img">
    <div class="img-holder">
      <div class="img-overlay"></div>
      <%= image_tag "Sample.jpg", class:"card-img" %>
    </div>
    </div>

  <div class="article-content">
    <h5><%= @article.subtitle %></h5>
    <%= @article.rich_body %>
  </div>
  <div class="article-resources">
    <h5>Useful resources</h5>
    <ul>
    <% @article_resources.each do |article_resource| %>
      <li><a href="#"><%= article_resource.title %></a></li>
    <% end %>
    </ul>
    <div class="expand-section-btn bottom-right">
        <%= link_to "More..", articles_path, class: "bold-blue" %>
      </div>
  </div>
  <div class="article-comments">
    <h5>Comments section</h5>
  </div>

  <div class="article-related">
  <div class="inner-content">
    <h2>Related articles</h2>
    <div class="card-vertical">
      <div class="img-holder">
        <div class="img-overlay"></div>
        <%= image_tag "Sample.jpg", class: "card-image" %>
      </div>
      <div class="article-info">
        <h4>5 array methods everyone should know by heart</h4>
      </div>
    </div>

    <div class="card-vertical">
      <div class="article-info">
        <h4>5 array methods everyone should know by heart</h4>
      </div>
      <div class="img-holder">
        <div class="img-overlay"></div>
        <%= image_tag "Sample.jpg", class: "card-image" %>
      </div>
    </div>
      <div class="expand-section-btn bottom-right">
        <%= link_to "More..", articles_path, class: "bold-white" %>
      </div>

  </div>
  </div>

  <%= link_to "Back", articles_path %>

  <div class="show-controls btn-normal">
    <%= link_to "Edit", edit_article_path(@article) %>
  </div>
</div>
</div>
