  <div class="home-banner">
    <div class="banner-text-box">
      <h1>Learning to code bit by bit</h1>
      <h4>Articles. Tutorials. Libraries</h2>
    </div>
    <div class="home-banner-img">
      <img src="" alt="">
    </div>
  </div>
  <section class="home-section">
    <h2>Blog</h2>
    <div class="longer-line"></div>
  <%# blog card %>
    <div class="card-left">
      <div class="img-holder">
         <%= image_tag "Sample.jpg", class: "card-image" %>
        <div class="img-overlay"></div>
      </div>
      <div class="article-info">
        <div class="info-line-small">
        <% if @article_newest %>
          <p><%=@article_newest.user.username %></p>
          <p><%= @article_newest.created_at.strftime("%d-%m-%Y") %></p>
          <span><%= image_tag "Comment-icon.svg", class: "icon-small" %></span>
          <p>5</p>
        </div>
        <% link_to article_path(@article_newest) do %>
        <h3><%= @article_newest.title %></h3>
        <% end %>
        <div class="bottom-right">
          <div class="short-line"></div>
          <p><%= @article_newest.category %></p>
        </div>
      </div>
      <% end %>
    </div>
    <%# end of blog card %>
     <div class="card-left">
     <%= %>
      <div class="article-info">
      <% if @article_second_newest %>
        <div class="info-line-small">
          <p><%= @article_second_newest.user.username %></p>
          <p><%= @article_second_newest.created_at.strftime("%d-%m-%Y") %></p>
          <span><%= image_tag "Comment-icon.svg", class: "icon-small" %></span>
          <p>5</p>
        </div>
        <%= link_to article_path(@article_second_newest) do%>
        <h3><%= @article_second_newest.title %></h3>
        <% end %>
        <div class="bottom-right">
          <div class="short-line"></div>
          <p><%= @article_second_newest.category %></p>
        </div>
        <% end %>
      </div>
      <div class="img-holder">
        <div class="img-overlay"></div>
        <%= image_tag "Sample.jpg", class: "card-image" %>
      </div>
    </div>
    <div class="expand-section-btn bottom-right">
      <%= link_to "More..", articles_path, class: "bold-blue" %>
    </div>
  </section>
