<div class="navbar-container">
  <div class="nav-left">
    <div class="logo">
      <%= link_to root_path, class: "navbar-logo" do %>
      <%= image_tag "Logo.svg", alt: "logo" %>
      <% end %>
    </div>
  </div>
  <div class="nav-right">
    <div class="nav-link">
    <%=  link_to "Blog", articles_path , class: "nav-link-text" %>
    </div>
    <div class="nav-link">
    <%= link_to "Learning", root_path, class:"nav-link-text" %>
    </div>
    <div class="nav-link">
    <%= image_tag "Search-icon.svg", alt: "search-icon" %>
    </div>
    <%# if user.logged_in? %>
  <%# %<div class="nav-user">% %>
  <%# <img src="" alt="" class="user-avatar"> %>
  <%# <div class="nav-dropdown dropdown-open"></div> %>
  <%# else %>
    <div class="nav-link">
      <div class="btn-normal">
      <%= link_to login_path do %>
        <p>Log in</p>
        <% end %>
      </div>
    </div>
  <%# end %>
    <%# </div> %>
  </div>
</div>
